[Unit]
Description=SquadJS

[Service]
Type=simple
WorkingDirectory=%h/SquadJS
ExecStart=node index.js
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target
